<section class="inline-block border-l border-solid border-gray-700">
  <section
    class="flex items-center justify-center border border-b border-l-0 border-solid border-gray-700 p-4"
  >
    <span class="text-3xl font-semibold">
      {{ monthNames[currentMonth] }} {{ currentYear }}
    </span>
  </section>

  <section class="grid grid-cols-7 border-b border-solid border-gray-700">
    @for (day of daysOfWeek; track $index) {
      <div
        class="border-r border-solid border-gray-700 px-4 text-center font-semibold"
      >
        {{ day | uppercase }}
      </div>
    }
  </section>
  <section class="grid grid-cols-7">
    @for (date of calendarDays; track $index) {
      <div
        class="cursor-pointer border-b border-r border-solid border-gray-700 p-2 text-center"
        [ngClass]="{
          'bg-green-400 text-white': date | isCurrentDay,
          'text-gray-300': date | isHoliday: holidays,
          'hover:bg-gray-300':
            !(date | isCurrentDay) && !(date | isHoliday: holidays),
        }"
      >
        {{ date.getDate() }}
      </div>
    }
  </section>
</section>
