<section class="flex flex-col">
  <mat-label class="m-0 text-sm">{{ label }}</mat-label>
  <mat-form-field
    floatLabel="always"
    class="w-full"
    (click)="datepicker.open()"
  >
    <input
      matInput
      [matDatepicker]="datepicker"
      placeholder="mm/dd/yyyy"
      [formControl]="inputControl"
      readonly
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="datepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datepicker [xPosition]="'end'"> </mat-datepicker>
  </mat-form-field>
</section>
