<section class="flex flex-col gap-4">
  <mat-card appearance="outlined" class="p-4">
    <section class="flex w-full gap-4">
      <div>Input: "2023-08-10T09:42:34.0734574Z" | Output:</div>
      <span class="block text-red-500">
        {{ "2023-08-10T09:42:34.0734574Z" | isoStringOrSame }}
      </span>
    </section>
  </mat-card>
  <mat-card appearance="outlined" class="p-4">
    <section class="flex w-full gap-4">
      <div>Input: "08/10/2023" | Output:</div>
      <span class="block text-red-500">
        {{ "08/10/2023" | isoStringOrSame }}
      </span>
    </section>
  </mat-card>
  <mat-card appearance="outlined" class="p-4">
    <section class="flex w-full gap-4">
      <div>Input: "10 Aug 2023" | Output:</div>
      <span class="block text-red-500">
        {{ "10 Aug 2023" | isoStringOrSame }}
      </span>
    </section>
  </mat-card>
  <mat-card appearance="outlined" class="p-4">
    <section class="flex w-full gap-4">
      <div>Input: "Hello, World!" | Output:</div>
      <span class="block text-red-500">
        {{ "Hello, World!" | isoStringOrSame }}
      </span>
    </section>
  </mat-card>
  <mat-card appearance="outlined" class="p-4">
    <section class="flex w-full gap-4">
      <div>Input: "2023-08-10T09:42:34Z" | Output:</div>
      <span class="block text-red-500">
        {{ "2023-08-10T09:42:34Z" | isoStringOrSame }}
      </span>
    </section>
  </mat-card>
  <mat-card appearance="outlined" class="p-4">
    <section class="flex w-full gap-4">
      <div>Input: "2023-08-10T09:42:34+02:00" | Output:</div>
      <span class="block text-red-500">
        {{ "2023-08-10T09:42:34+02:00" | isoStringOrSame }}
      </span>
    </section>
  </mat-card>
  <mat-card appearance="outlined" class="p-4">
    <section class="flex w-full gap-4" class="flex w-full gap-4">
      <div>Input: "2023-08-10" | Output:</div>
      <span class="block text-red-500">
        {{ "2023-08-10" | isoStringOrSame }}
      </span>
    </section>
  </mat-card>
</section>
